.nav-wrapper{
  background-color: black;
}
.title{
  font-size: 16px;
  font-weight: bold;
}
.btn{
  margin: 8px 0 8px 0;
  background-color: black;
}
.adMargin{
  margin: 8px 8px 8px 8px;
}
.searchBar{
  background-color:white;
  font: white;
}
.card{
  max-width: 300px;
}
